$main-color:rgb(162, 202, 49);
$bg-color:#F3F3F3;
$main-paragraph-color:#ABABAB;
$alt-paragraph-color:#8A8A8A;
$heading-color:#212529;
$transition:.3s linear;
$padding:60px;
// $main-border:1px solid $main-color;